################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exchange/.vs/Exchange/DesignTimeBuild
/.vs
/Exchange/Exchange/bin/Debug/net6.0
/Exchange/Exchange/obj
/Exchange/.vs/Exchange/v17
